body{
  margin: 0;
  padding: 0;
}

header{
  font-family: 'PT Sans Narrow', sans-serif;
}

.signin{
  margin-right: 140px;
  margin-top: 30px;
}

.signupexternal{
  margin-left: 180px;
    margin-top: 30px;
}

.welcome{
  margin: 20px 0;
  font-weight: 700;
  font-size: 48px;
  font-family: 'PT Sans Narrow', sans-serif;
}

#bi1{
  background: url(images/fon2.jpg);
  background-size: cover;
}


footer{
  font-family: 'PT Sans Narrow', sans-serif;
}

.bitxt{
  font-weight: 400;
  font-size: 24px;
  color: white;
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
}

.list{
  text-align: left;
  color: white;
}

.list a{
  font-weight: 400;
  font-size: 24px;
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  text-decoration: none;
  transition: 0.2s ease;
}

.list a:hover{
  color: rgb(133, 133, 133);
}

#biimg{
  width: 100%;
  border: 10px solid white;
  border-radius: 15px;
  margin-bottom: 40px;
}

.arrow{
  width: 100%;
  margin-top: -25px;
}

.text{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 24px;
}

.image{
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
  border:1px solid rgba(0, 0, 0, 0.5)
}

#tole,
#aiteke{
  background: url(images/fongray.jpg);
  background-size: cover;
}

#kazybek{
  background: url(images/fonwhite.jpg);
  background-size: cover;
}